.image-details {
  & .MuiPaper-root {
    border-radius: 15px;
    position: relative;
    overflow: visible;
  }

  & .title-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & .dialog-content {
    display: flex;

    & > .column {
      display: flex;
      flex-direction: column;

      &:first-child {
        width: 70%;
      }

      &:last-child {
        width: 30%;

        & > .text-area {
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          & > .info-item {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;

            & > .label {
              font-size: 1.2rem;
              font-family: 'RobotoBold';
            }

            & > .value {
              font-family: 'RobotoLight';
              margin-bottom: 12px;
            }
          }

          & > .id {
            color: grey;
          }
        }
      }
      & > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      & > .placeholder {
        position: relative;
        width: 800px;
        height: 100%;
        & > .MuiCircularProgress-root {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  .prev-button {
    background-color: grey;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateX(-50%) rotate(180deg);
  }
  .next-button {
    background-color: grey;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50%);
  }
}
