.sidebar {
  width: 310px;
  min-width: 310px;
  height: 100%;

  & > .MuiList-root {
    padding-top: 0px;

    & > .MuiListItemButton-root {
      margin: 5px;
      border-radius: 15px;
    }
  }

  & .Mui-selected {
    & svg {
      fill: #ffa726;
    }
  }
}
