.browser {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-color: rgb(41, 41, 41);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .filters {
    width: calc(100% - 40px);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }

  & > .grid {
    flex-grow: 1;
    width: calc(100% - 20px);
    margin: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    align-self: flex-start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 4px;
    @media (max-width: 1540px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    @media (max-width: 1300px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    /* display: flex;
    flex-wrap: wrap;
    align-content: flex-start; */

    & > .image-card {
      /* width: 238px;
      height: 148px;
      margin: 4px; */
      background-color: rgb(51, 51, 51);
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 10px 5px 5px;

      & > .column {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:last-child {
          justify-content: space-between;
        }

        & > img {
          width: 90%;
          aspect-ratio: 1;
        }

        & > span {
          font-size: 0.7rem;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          line-height: 1rem;
        }

        & > .button-panel {
          width: 100%;
          display: flex;
          justify-content: center;

          & .MuiToggleButton-root.Mui-selected {
            & svg[data-testid='CheckIcon'] {
              fill: #7ecd47;
            }
            & svg[data-testid='DoNotDisturbAltIcon'] {
              fill: #dc3d32;
            }
          }

          & > .delete {
            margin-left: 4px;
          }
        }
      }
    }
  }

  & > .MuiPagination-root {
    margin: 10px 0;
  }
}
