.upload {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-color: rgb(41, 41, 41);
  border-radius: 15px;

  & > .dropzone {
    border: 1px dashed white;
    margin: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
}
