.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > .header {
    width: calc(100% - 20px);
    margin: 0 0 0 20px;
    height: 78px;
    display: flex;
    align-items: center;
    & > span {
      font-family: 'RobotoLight';
      color: white;
      font-size: 2.5rem;
      letter-spacing: 5px;
      font-weight: 100;
    }
  }
}
